<hr>
<footer>
<span class="pull-left">© English Gate 2013</span> <span class="pull-right">
    <a href="#romina" role="button" data-toggle="modal">Romina Couto</a> - Egresada I.S.P Joaquín V. González
</span>
<div id="romina" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Acerca de Romina Couto</h3>
    </div>
    <div class="modal-body">
        <aside class="pull-left">
        <img class="pic" src="http://m.c.lnkd.licdn.com/media/p/3/000/0bb/219/1ee4d1c.jpg" alt="Romina Couto">
        </aside>
        <p class="modal-text">
        Mi proyecto es ejercer la actividad docente en un ámbito académico donde poder desplegar, desarrollar y transmitir mis aptitudes, actitudes y conocimientos con la misma entrega y entusiasmo con los que los he sabido adquirir.
        Me comprometo a ofrecer a los alumnos una visión dinámica y pedagógica de la lengua inglesa que les facilite un aprendizaje completo de la misma en sus cuatro niveles (i.e. listening, reading, speaking and writing).
        Me caracterizo por brindar a los alumnos la posibilidad de estar en contacto con el idioma de una forma real, trabajando con películas, series, artículos de diario, videos y conferencias.

        <h4>Por qué elegir English Gate?</h4>

        <ul>
            <li>Más de diez años de experiencia enseñando el idioma Inglés.</li>
            <li> Exámenes internacionales: FCE, CAE, CPE. </li>
            <li> Atención personalizada enfocada a las necesidades y rítmo de los alumnos.  </li>
            <li> Herramientas para facilitar el aprendizaje de la gramática Inglesa y su escritura.  </li>
            <li> Consejos útiles para acercarse a la cultura de los países de habla inglesa.  </li>
            <li> Resultados rápidos.  </li>
            <li> Horarios flexibles.  </li>
            <li> Posibilidad de recuperar clases perdidas con previo aviso.  </li>
            <li> Muy buen precio por alta calidad de enseñanza.  </li>
            <li> Garantía de aprendizaje de una manera divertida, seria y profesional.  </li>

            <h5>Pueden ver mi curriculum vitae y recomendaciones de anteriores alumnos en:  <a href="http://www.linkedin.com/profile/view?id=118848187&trk=tab_pro" target="_blank">Linkedin</a></h5>
            </p>
        </div>
    </div>
    </footer>
    <script src="<%= javascript_path "application" %>"></script>
</body>
</html>
