<section itemscope itemtype="http://schema.org/EducationalOrganization">
<h4 class="text-right muted"><span itemprop="description">Clases Particulares de Inglés</span> - <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Bariloche</span></span> (<span itemprop="addressRegion">Km 6</span>)</h4>
<div class="clearfix">
    <h1 class="titulo">Profesionalismo y seriedad hacen la diferencia.</h1>
    <ul class="icons text-center">
    </ul>
</div>

<div class="row features">
    <div class="span4">
        <ul class="icons">
            <li><i class="icon-ok"></i> Niveles Intermedio y Avanzado.</li>
            <li><i class="icon-ok"></i> First Certificate Exam.</li>
            <li><i class="icon-ok"></i> Certificate in Advanced English.</li>
            <li><i class="icon-ok"></i> Certificate of Proficiency in English.</li>
        </ul>
    </div>
    <div class="span4">
        <ul class="icons">
            <li><i class="icon-ok"></i> Clases de Pronunciación. Fonética.</li>
            <li><i class="icon-ok"></i> Videos: Películas, Series, Publicidades, Conferencias.</li>
            <li><i class="icon-ok"></i> Arte: Análisis de Poemas, Pinturas, Cuentos y Novelas.</li>
            <li><i class="icon-ok"></i> Clases de Conversación Para Alumnos Avanzados.</li>
        </ul>
    </div>
</div>
</section>
