<section>
<h3 class="muted">Ubicación :</h3>
<div class="row">
    <div class="span5">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1502.7457914604631!2d-71.40111177886324!3d-41.123793493902575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v143162060349://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1502.7457914604631!2d-71.40111177886324!3d-41.123793493902575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1431620603490d">
        </iframe>
        <br />
        <small class="muted" itemscope itemtype="http://schema.org/EducationalOrganization"><a href="https://maps.google.com/maps/ms?t=h&amp;msa=0&amp;msid=208168998380948890704.0004daf51ca13c20cdab6&amp;source=embed&amp;ie=UTF8&amp;ll=-41.121206,-71.377702&amp;spn=0.002829,0.00456&amp;z=17"
                                                                                               style="color:#0000FF;text-align:left">✓ <span itemprop="name">English Gate</span></a> - <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Centauro 8161</span></span> - <span itemprop="telephone">(0294) 4461313</span></small>
    </div>
    <div class="span3">
        <form>
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">
                                <i class="icon-user"></i>
                            </span>
                            <input type="text" value="Romina Couto" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">
                                <i class="icon-home"></i>
                            </span>
                            <input type="text" value="Centauro 8161" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">
                                <i class="icon-phone"></i>
                            </span>
                            <input type="text" value="(0294) 4461313" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">
                                <i class="icon-envelope"></i>
                            </span>
                            <input id="e" type="text" value="" disabled="disabled">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</section>
<script type="text/javascript">document.getElementById('e').value = <%= email_to_js_string(@email) %>; </script>
